
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Adicionar Contas{% endblock %}

{% block content %}


<div class="offset-1 col-16 list-div"></div>
    <h3>Tabela de Circuitos</h3>
    <a id="add-link" href="{% url 'new-task' %}">
        <button type="button" class="btn btn-primary" id="alinha-bt"><i class="fas fa-plus" id="plus-afast"></i></button>
    </a>
    
    {% if messages %}
    <ul class="messages">
       {% for message in messages %}
            <li {% if message.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
       {% endfor %}
    </ul>
    {% endif %}

    <table class="table-round-corner" cellspacing="0">
        <tr>
            <th></th>
            <th>LOCAL</th>
            <th>TIPO</th>
            <th>TENSÃO (VA)</th>
            <th>QUANT.</th>
            <th>POTÊNCIA (VA)</th>
            <th>TOTAL (VA)</th>
            <th>CORRENTE (VA)</th>
            <th>COMP. CKT</th>
            <TH>SEÇÃO CONDUTOR</TH>
            <th>QUEDA TENÃO (%)</th>
            <th>QUEDA TENÃO PERMITIDA(%)</th>
            <th>QUEDA TESTE</th>
            <th>CAPACIDADE CORRENTE</th>
            <th>N DE POLOS</th>
            <th>CORRENTE NOMINAL</th>
            <th>VERIFICA DJ</th>
            <th></th>
            
        </tr>
        {% for item in task %}
            <tr>
                <td><a href="edittask/{{item.id}}"><span><i class="fas fa-edit"></i></span></a></td>
                <td>{{item.local}}</td>
                <td>{{item.tipo}}</td>
                <td>{{item.tensa_va}}</td>
                <td>{{item.quant}}</td>
                <td>{{item.potencia_va}}</td>
                <td>{{item.total_va}}</td>
                <td>{{item.corrente_a}}</td>
                <td>{{item.comprimento}}</td>
                <td>{{item.sessao_condutor}}</td>
                <td>{{item.queda_tensao_ckt}}</td>
                <td>{{item.queda_tensao_perm}}</td>
                <td>{{item.queda_tensao_test}}</td>
                <td>{{item.capacidade_corrente}}</td>
                <td>{{item.numero_polos}}</td>
                <td>{{item.corrente_nominal}}</td>
                <td>{{item.verifica_dj}}</td>
                <td><a href="deletetask/{{item.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a></td>
                
            </tr>
        {% endfor %}
        
    </table>
</div>

<br>
<br>


{% endblock %}
